.box1{
  width: 300px;
  height: 300px;
  /*下のコードは背景色を示している*/
  background-color: green;
  padding:30px;
}

.box2{
  width: 100px;
  height: 100px;
  background-color: blue;
  border: 5px solid yellow;
}